@model IEnumerable<DemoApp.Models.Appointments>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <h2>Appointment page</h2>  -->

<p>
    <br />
    @Html.ActionLink("New Appointment", "New", "Appointment", null, new { @class = "btn btn-primary" })
</p>

<h2>Existing Appointments</h2>
@if (!Model.Any())
{
    <p>No Appointments yet.</p>
}
else
{
    <table id="appointments" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Appointment Date</th>
                <th>Appointment Time</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model)
             {   
            <tr>
                <td>@Html.ActionLink(appointment.Name, "Edit", "Appointment", new { id = appointment.Id }, null)</td>
                <td>@appointment.ApptDate.ToShortDateString()</td>
                <td>@(appointment.selTimeF + " to " + appointment.selTimeT)</td>
                <td><button data-appointment-id="@appointment.Id" class="btn-link js-delete">Cancel</button></td>
            </tr>
             }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#appointments").DataTable();
            $("#appointments .js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this Appointment?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '@Url.Action("Delete", "Appointment")',
                            data: { 'Id': button.attr("data-appointment-id") },
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>

}
